<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="login.css"/>
</head>
<body>
    <div class="main-container">
        <div class="left-part">
            <div class="left-title">
                <img class="logo" src="images/logo1.png">
                <div class="resortname">AP-ICE Resorts</div>
                
            </div>
            <div class="logo-text">Discover Your Perfect Stay</div>
            <div class="traveller-div">
                <img class="traveller_image" src="images/traveller.webp"/>
            </div>
        </div>
        <div class="right-part">
            <div class="login-container">
                <div class="inner-login-container">
                    <div id="login-text">Admin Login</div>
                    <hr class="line">
                    <label class="label" for="username">Email</label>
                    <input class="input" type="text" id="username" name="username" required>
                    <label class="label" for="password">Password</label>
                    <input class="input" type="password" id="password" name="password" required>
                    <div class="submit">
                        <div class="submit-text">Login</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/adminlogin.js"></script>
</html>